<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YELP CAMP</title>`
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script crossorigin="anonymous" src="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.umd.min.js"></script>
<link crossorigin="anonymous" href="https://cdn.maptiler.com/maptiler-sdk-js/v2.0.3/maptiler-sdk.css" rel="stylesheet">
<style>
  .hero-section {
    background-image: url('https://www.bing.com/images/search?view=detailV2&ccid=yADpIecV&id=9FA6A9583FA587448A427418E4EBD458C3EB1DCC&thid=OIP.yADpIecVmhKomu6CZ62cuQHaE8&mediaurl=https%3a%2f%2fwww.mountainphotography.com%2fimages%2fxl%2f20140226-Bridge-of-Heaven-Night.jpg&exph=1201&expw=1800&q=mountain+forests+camp+scenic+pic&simid=608039801016557666&FORM=IRPRST&ck=AA0F7F6AF419A49B828FECDB271DEBC1&selectedIndex=25&itb=0');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 8rem 1rem;
    position: relative;
  }
  
  .hero-section .container {
    z-index: 2;
  }
</style>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navbar')   %>
    <main>
      <%- include('../partials/flash')   %>
    <%-   body   %>
    </main>
    <%-  include('../partials/footer')   %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    
    
    
    
    </script>
        
    
</body>
</html>